.logo {
    height: 44px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 6px;
  }

.navbar-container{
    background: #990000;
    color: white;
}
.ant-menu{
    background:  #990000;
    color: white;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected{
    color: #FFCC00;
    border-bottom: 2px solid #FFCC00;
}

