.logo {
    height: 44px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 6px;
  }

.navbar-container{
    background: #990000;
    color: white;
}
.ant-menu{
    background:  #990000;
    color: white;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected{
    color: #FFCC00;
    border-bottom: 2px solid #FFCC00;
}

.navbar-header{
    background-color: #990000;
}

.navbar-link{
  color: white !important;
}

.navbar-toggler{
    background-color: white !important;
}

.navbar{
	padding: 0px 0px !important;
}