.map-wrapper{
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100vh;
    flex-flow: column;
}

.graph-wrapper{
    height: 45vh;
    width: 100%;
}
