@import '~antd/dist/antd.css';

.app-wrapper {
  height: 100vh;
}

.graph-wrapper {
  height: 90%;
  padding: 10px 20px;
}

.map-wrapper {
  width: 50vw;
  padding: 30px;
  display: flex;
  flex-flow: column;
  float: right;
}

#chartdiv {
  height: 100%;
  width: 100%;
}

.form-wrapper {
  width: 50vw;
  padding: 25px;
  display: flex;
  flex-flow: column;
  float: left;
}

.top-row {
  height: 40vh;
  display: flex;
  flex-flow: row;
}

.bottom-row {
  height: 60vh;
  display: flex;
  flex-flow: column;
}

.main-content {
  padding: 20px 50px;
}
