@import '~antd/dist/antd.css';

.app-wrapper {
  height: 100vh;
}

.graph-wrapper {
  height: 90%;
  padding: 10px 20px;
}

.map-wrapper {
  height: 60%;
}

#chartdiv {
  height: 100%;
  width: 100%;
}

.left-col {
  height: 100vh;
  width: 40%;
  float: left;
  display: flex;
  flex-flow: column;
}

.right-col {
  height: 100vh;
  width: 60%;
  float: right;
}

.form-wrapper {
  padding: 20px;
}

.main-content {
  padding: 20px 50px;
}
